/* main config to center everything on the site */
#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

/* container of the result and option boxes */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 80vw;
}

.user, .pc {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user figure, .pc figure {
    width: 180px;
    height: 180px;
    /* background-color: black; */
}

.pc{
    align-items: flex-end;
}

/* style of the result box */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: gray;
    color: aliceblue;
}

/* config of the options of choice 
the images and the rotation*/
.rock-user {
    background-image: url(img/rock.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(70deg);
}

.paper-user {
    background-image: url(img/paper.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(70deg);
}

.scissors-user {
    background-image: url(img/scissors.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(70deg);
    
}

/* setting the animations */
@keyframes mouseH1 {
    from {
        transform: rotate(70deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.rock-user:hover, .paper-user:hover, .scissors-user:hover{
    animation-duration: 1s;
    animation-name: mouseH1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/* configure the computer options 
basically just fliping the images */
.rock-pc{
    background-image: url(img/rock-flip.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(270deg);
}

.paper-pc {
    background-image: url(img/paper-flip.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(270deg);
}

.scissors-pc{
    background-image: url(img/scissors-flip.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(270deg);
}

/* general config to the pc selection */
.pc-selected{
    background-color: rgb(242, 255, 129);
    border: 5px solid black;
    border-radius: 5%;    
}

.choice {
    width: fit-content;
}

/* To the next update create one img specific 
and change the color when the user click */
.selected{
    background-color: aqua;
}

/* config the footer */
footer{
    width: 100%;
    position: fixed;
    margin-top: 103vh;
    background-color: beige;
    align-self: center;
    text-align: center;
}

p {
    align-self: center;
}