body{
    background-color: antiquewhite;
}
/* main config to center everything on the site */
#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

/* container of the result and option boxes */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 80vw;
}

.user, .pc {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user figure, .pc figure {
    width: 230px;
    height: 230px;
    /* background-color: black; */
}

.pc{
    align-items: flex-end;
}

/* style of the result box */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(56, 53, 53);
    border: 8px solid rgb(56, 53, 53);
    border-radius: 40%;
    color: rgb(214, 208, 208);
    font-family: 'Comic Sans';
    font-size: larger;
    font-weight: 700;
}

/* config of the options of choice 
the images and the rotation*/
.rock-user {
    background-image: url(img/closed.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(70deg);
}

.rock-user:hover{
    background-image: url(img/rock.gif);
}

.paper-user {
    background-image: url(img/closed.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(70deg);
}

.paper-user:hover{
    background-image: url(img/paper.gif);
}

.scissors-user {
    background-image: url(img/closed.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(70deg);
    
}

.scissors-user:hover {
    background-image: url(img/scissors.gif);
}

/* setting the animations */
@keyframes mouseH1 {
    from {
        transform: rotate(70deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.rock-user:hover, .paper-user:hover, .scissors-user:hover{
    animation-duration: 1s;
    animation-name: mouseH1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/* configure the computer options 
basically just fliping the images */
.rock-pc{
    background-image: url(img/closed-pc.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(270deg);
}

.paper-pc {
    background-image: url(img/closed-pc.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(270deg);
}

.scissors-pc{
    background-image: url(img/closed-pc.gif);
    background-repeat: no-repeat;
    z-index: 99;
    background-size: contain;
    transform: rotate(270deg);
}

/* general config to the pc selection */
.pc-selected{
    background-color: rgb(242, 255, 129);
    border: 5px solid black;
    border-radius: 5%;    
}

/* change the color of each choice in js */
.rock-selected{
    background-image: url(img/rock-color-pc.gif);
}
.paper-selected{
    background-image: url(img/paper-color-pc.gif);
}
.scissors-selected{
    background-image: url(img/scissors-color-pc.gif);
}


.choice {
    width: fit-content;
}
 
/* config the footer */
footer{
    width: 101vw;
    z-index: 999;
    position: fixed;
    margin-top: 4vh;
    margin-left: -1vw;

    /* background-color: rgb(53, 53, 2); */
    align-self: center;
    text-align: center;
}

p {
    align-self: center;
}